*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#2E948A;
    padding: 20px 103px 26px 82px;
}

header ul{
    display: flex;
    list-style: none;
    
}

header ul li{
    
    padding: 0 5px;
}

header a{
    text-decoration: none;
    color:white
}







footer{
    background-color:#2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 103px 26px 82px;
}

.menu2,a,.botoes{
    list-style: none;
    text-decoration: none;
    color:white;
}

.botoes li{

    border: 1px solid white;
    border-radius: 20px;
    width: 190px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}















@media screen and (max-width:667px){
    
    header{
       padding: 0 10px;
       flex-direction: column;
      
    }

   
    header ul {
       display:flex;
       justify-content: space-around;
            
        
    }

    header a{
        text-decoration: none;
    }
}



